body {
  background-color: #3e3e42;
  font-family: "Courier New", Courier, monospace;
}
.collage {
  display: flex;
}

h1 {
  font-size: 4em;
  background-color: aquamarine;
  border-radius: 50px;
  cursor: pointer;
  width: 400px;
  height: 200px;
  text-align: center;
  display: inline-block;
  padding-top: 1em;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}
h3 {
  font-size: 1.5em;
  background-color: aquamarine;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 1em;
}
p {
  background-color: aquamarine;
  font-size: x-large;
  display: block;
  padding: 20px;
  border-radius: 20px;
}

ul {
  font-size: x-large;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 20px 40px 20px;
  margin-left: 10px;
  display: inline-flexbox;
}
ol {
  font-size: x-large;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 20px 80px 20px;
  margin-left: 10px;
  display: inline-flexbox;
}

body::-webkit-scrollbar {
  display: none;
}
