body {
  background-color: #e7e8e2;
  font-family: "Courier New", Courier, monospace;
}
.collage {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
}
h1 {
  font-size: 4em;
  background-color: #f15483;
  border-radius: 50px;
  cursor: pointer;
  width: 400px;
  height: 200px;
  text-align: center;
  display: inline-block;
  padding-top: 1em;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  padding-bottom: 1em;
}
h3 {
  font-size: 1.5em;
  background-color: #f15483;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 1em;
}
p {
  margin-top: 1em;
  background-color: #f15483;
  font-size: x-large;
  display: block;
  padding: 20px;
  border-radius: 20px;
}

ul {
  font-size: x-large;
  background-color: #f15483;
 
  border-radius: 20px;
  padding: 20px 40px 20px;
  margin-left: 10px;
  display: flexbox;
  flex-wrap: wrap;
}
ol {
  font-size: x-large;
  background-color: #f15483;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 20px 80px 20px;
  margin-left: 10px;
}

body::-webkit-scrollbar {
  display: none;
}
